{%- assign wday = "now" | date: "%a" -%}
{%- assign cuthour = "now" | date: "%H%M" -%}
{%- if wday == 'Sat' -%}
    {%- assign extraday = '2' -%}
{%- elsif wday == 'Sun' -%}
    {%- assign extraday = '1' -%}
{%- else -%}
    {%- assign extraday = '0' -%}
    {%- if cuthour > '1130' -%}
        {%- assign cutofftime = '1' -%}
    {%- else -%}
        {%- assign cutofftime = '0' -%}
    {%- endif -%}
    {%- assign extraday = extraday | plus:cutofftime -%}
{%- endif -%}

{%- assign saver_shipping_left = 7  -%}
{%- assign saver_shipping_right = 10 -%}
{%- assign fast_shipping_left = 2 -%}
{%- assign fast_shipping_right = 3 -%}
{%- assign processing_days = 8 -%}

{%- case product.type -%}
{%- when "Bridesmaid Dresses" or "Plus Size Bridesmaid Dresses" -%}
{%- assign processing_time = 5 -%}
{%- when "Prom Dresses" or "Cocktail Dresses" or "Homecoming Dresses" -%}
{%- assign processing_time = 7 -%}
{%- when "Evening Dresses" -%}
{%- assign processing_time = 8 -%}
{%- when "Mother of the Bride Dresses" or "Plus Size Mother of the Bride Dresses" or "Mother of the Bride Pants" -%}
{%- assign processing_time = 7 -%}
{%- when "Wedding Dresses" -%}
{%- assign processing_time = 10 -%}
{%- endcase -%}

{%- if product.metafields.custom.processing_time != blank -%}
{%- assign processing_days = product.metafields.custom.processing_time -%}
{%- assign processing_days_plus = processing_days | plus: extraday -%}
{%- else -%}
{%- assign processing_days = processing_time -%}
{%- assign processing_days_plus = processing_time | plus: extraday -%}
{% endif %}

{%- assign total_days_saver1 = processing_days | plus: saver_shipping_right -%}
{%- assign total_days_fast1 = processing_days | plus: fast_shipping_left -%}

{%- assign total_days_saver2 = processing_days_plus | plus: saver_shipping_right -%}
{%- assign total_days_fast2 = processing_days | plus: fast_shipping_left -%}


{%- assign total_seconds_fast = total_days_fast2 | times: 86400 -%}
{%- assign total_seconds_saver = total_days_saver2 | times: 86400 -%}

<div class="mto-goods-timer">
    <div class="mto-timer-info">
        <div class="mto-prod-info-time">
            <div class="mto-time-item">
                <svg class="mto-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M12 20h9"></path>
                    <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path>
                </svg>
                <div class="mto-time-wrap">
                    <div class="mto-name">Processing</div>
                    <div class="mto-make-time"><span class="mto-txt">{{processing_days| minus:1}}-{{processing_days |plus: extraday}}</span> Days</div>
                </div>
            </div>
            <div class="mto-time-item">
                <svg class="mto-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M1 3h15v13H1z"></path>
                    <path d="M16 8h4l3 3v5h-7V8z"></path>
                    <circle cx="5.5" cy="18.5" r="2.5"></circle>
                    <circle cx="18.5" cy="18.5" r="2.5"></circle>
                </svg>
                <div class="mto-time-wrap">
                    <div class="mto-name">Shipping</div>
                    <div class="mto-make-time"><span class="mto-txt">{{fast_shipping_left}}-{{ saver_shipping_right }}</span> Days</div>
                </div>
            </div>
            <div class="mto-time-item mto-delivery-time">
                <svg class="mto-icon" width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false" role="presentation">
                    <g fill="none" fill-rule="evenodd">
                        <path d="M0 0h24v24H0z"></path>
                        <path d="M15.321 9.5V5.321a3.321 3.321 0 0 0-6.642 0V9.5" stroke="currentColor" stroke-width="1.5"></path>
                        <path stroke="currentColor" stroke-width="1.5" d="M5.357 7.705h13.286l1.107 13.563H4.25z"></path>
                    </g>
                </svg>
                <div class="mto-time-wrap">
                    <div class="mto-name">Delivered</div>
                    <div class="mto-make-time"><span class="mto-txt">{{total_days_fast1 | minus:1}}-{{total_days_saver1 |plus: extraday}}</span> Days</div>
                </div>
            </div>
        </div>
        {% comment %} <div class="mto-prod-size-tip">This item is Made-To-Order. Whether you choose a standard size or custom measurements, our tailors craft each item to order.</div> {% endcomment %}
        <div class="mto-prod-size-tip">Order today, get it {{"now" | date: "%s" | plus: total_seconds_fast | date: "%b %d"}} - {{"now" | date: "%s" | plus: total_seconds_saver | date: "%b %d, %Y"}} (estimated date)</div>
    </div>
</div>

<style>
    .mto-timer-info {
        background: #faf7f3;
        border-radius: .25rem;
        padding: .75rem;
        width: 100%;
    }

    .mto-prod-info-time {
        display: flex;
        justify-content: space-between;
        margin-top: .625rem;
    }

    .mto-time-item {
        align-items: center;
        display: flex;
        flex: 1;
    }

    .mto-icon {
        flex-shrink: 0;
        width: 18px;
        height: 18px;
        margin-right: 2px;
        margin-left: 2px;
    }

    .mto-time-wrap {
        flex: 1;
        line-height: 1;
        text-align: center;
    }

    .mto-name {
        border-bottom: .0625rem dashed #8c8c8c;
        color: #111;
        font-size: .75rem;
        padding-bottom: .375rem;
    }

    .mto-make-time {
        font-size: .75rem;
        padding-top: .375rem;
    }

    span.mto-txt {
        color: #b86b0b;
    }

    .mto-prod-size-tip {
        border-top: .0625rem dashed #d6d6d6;
        color: #999;
        font-size: .75rem;
        line-height: 1.2;
        margin-top: .75rem;
        padding-top: .75rem;
    }
</style>